@import "/src/styles/variables";

.parentContainerOurBlog {
  background: linear-gradient(
    to right,
    $tertiary 0%,
    $tertiary 50%,
    $secondary 50%,
    $secondary 100%
  );
  position: relative;
}

.container {
  max-width: 1440px;
}

.leftSection {
  background: $tertiary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20% 12px;
  height: 100%;
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    @media only screen and (max-width: 1025px) {
      margin: 117px 0 0 0;
    }
  }
}

.rightSection {
  flex-direction: column;
  display: flex;
  height: 100%;
  background: $secondary;
}

.textBeneficios {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $tertiary;
}
.buttonNuestrasPubl {
  margin: 6rem 0 0 0;
  @media only screen and (max-width: 1025px) {
    margin: 5rem 0 0 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.textDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $tertiary;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
  -webkit-line-clamp: 2;
           line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.linkSeguirLeyendo,
.linkSeguirLeyendo:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $tertiary;
  cursor: pointer;
  text-decoration: none;
}

.arrowRight {
  margin-left: 5px;
}

.textContainer {
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  align-content: center;
  padding: 2rem 4rem;
}

.image {
  width: 100%;
  height: 100%;
  padding: 0;
}

.imageContainer {
  height: 71%;
  margin: 0;
  // max-width: 764px;
  img {
    object-fit: cover;
  }
}

@media only screen and (max-width: 1025px) {
  .parentContainerOurBlog {
    &::before {
      background: none;
    }
    &::after {
      background: none;
    }
  }
  .textContainer {
    padding: 28px 18px;
  }
  .imageContainer {
    position: relative;
    img {
      height: 526px;
    }
    &::after {
      height: 526px;
      left: 0;
      // background: none;
    }
  }
}
